
@{
    ViewBag.Title = "Contact";
}




<html>
<head>
    <title>Contact:VegeMart</title>
    <link rel="stylesheet" type="text/css" href="~/Content/cstyle.css" />

    <div style="background-color: rgb(110, 238, 117);">
      @*  <img src="images/m3.png" style="float: right; margin-right: 100px;" />*@
        <a href="/home/index"><img src="~/Images/home.png" style="float: right;margin-top: 50px; " /></a>
        <br>
        <h3 style="margin-left: 70px;">Welcome to . . .</h3>
        <h1 style="margin-left: 150px;">FARMPLE -The E-Market Yard</h1>

    </div>
</head>
<body>
    <h1 style="font-size: 50px; margin-top: 10px;">Contact Us:</h1>
    <hr>


    <img src="~/Images/cu.png"/>
    <div id="text">
        <b>Address:</b><br>
        Farmple <br>
        Hinjewadi,<br>
        PCMC,<br>
        India <br>
        <br><br>
        <b>Phone:</b><br>
        8888149159
        <br><br><br>
        <b>Email:</b><br>
        farmpletheemy@gmailcom

    </div>

    <br>
</body>
</html>
