
@{
    ViewBag.Title = "Services";
}

<html>
<head>
    <title>Services:Farmple</title>
    <link rel="stylesheet" href="~/Content/sstyle.css" />

</head>
<body style="background-color:cadetblue; color:black" >
    <div id="header" style="background-color: rgba(18, 223, 70, 0.88);">
        <img src="~/Images/m3.png" style="float: right; margin-right: 100px;" />
         <a href="/home/index"> <img src="~/Images/home.png" style="float: right; margin-right: 50px; width: 90px; height: 40px;margin-top: 15px;" /></a>
              <br>
        <h3 style="margin-left: 70px;">Welcome to . . .</h3>
        <h1 style="margin-left: 150px; margin-bottom:5px">FARMPLE -The E-Market Yard</h1>
    </div>

    <div id="t1">
        Time equals money. No need to visit market and wasting time in trans- portation and
        searchin for quality vegetables.
    </div>
    <div id="i1"><img src="~/Images/savetime.png"/></div>

    <div id="i2"><img src="~/Images/workingwomen.png" /></div>
    <div id="t2">
        <b>Farmple</b>  can help a lot to working women, who can't spend have enough time
        for visiting local markets.
    </div>

    <div id="t3">
        Farmers can deal with Restaurants on contract bases, depending on their requirement
        and consumption.
    </div>
    <div id="i3"><img src="~/Images/restaurant.png" /></div>

    <div id="t4">
        Orders for supplying vegetables to the caterer for social function are
        also managed under one roof.
    </div>
    <div id="i4"><img src="~/Images/caterer.png" /></div>

 

    <br>

</body>
</html>
