
<h1>Farmple The E Market Yard</h1>
    <app-root></app-root>
    <script src="~/Scripts/ngapp/runtime.js" defer></script>
    <script src="~/Scripts/ngapp/polyfills.js" defer></script>
    <script src="~/Scripts/ngapp/styles.js" defer></script>
    <script src="~/Scripts/ngapp/vendor.js" defer></script>
    <script src="~/Scripts/ngapp/main.js" defer></script>
