
@{
    ViewBag.Title = "AddToCarterror";
}
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="custom.css">
    @*    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    *@
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    @*    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    *@
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--enable mobile device-->
    @*<meta name="viewport" content="width=device-width, initial-scale=1">*@
    <!--fontawesome css-->
    @* <link rel="stylesheet" href="css/font-awesome.min.css">*@
    <!--bootstrap css-->
    @* <link rel="stylesheet" href="css/bootstrap.min.css">*@
    <!--animate css-->
    @*<link rel="stylesheet" href="css/animate-wow.css">*@
    <!--main css-->
    <link rel="stylesheet" href="~/Content/css/style.css">
    @*    <link rel="stylesheet" href="css/bootstrap-select.min.css">
    *@   @* <link rel="stylesheet" href="css/slick.min.css">*@
    <!--responsive css-->
    @*    <link rel="stylesheet" href="css/responsive.css">
    *@@*    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    *@
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!--<div id="header" style="background-color: rgba(123, 212, 88,2);">
        <img src="~/Images/m3.png" style="float: right; margin-right: 100px;" />-->
    @*        <a href="#"> <img src="~/Images/shopping-cart.png" style="float: right; margin-right: 50px; width: 50px; height: 50px;margin-top: 15px;" /></a>
    *@
    <!--<br>


        <h3 style="margin-left: 70px;">Welcome Farmer To. . .</h3>
        <h1 style="margin-left: 150px; margin-bottom:5px">FARMPLE -The E-Market Yard</h1>
    </div>-->
    @*  <div style="flex">
            <h2 style="float:left">Product Details</h2>
            <p style="float:right; margin-top:30px">
                <a href="/farmers/logout" class="btn btn-info btn-lg">
                    <span class="glyphicon glyphicon-log-out"></span> Log out
                </a>
            </p>
            <a href="/ShoppingCart/index/"><img style="width:100px;height:100px; float:right" src="~/Images/shopping-cart.png" /></a>
        </div>*@


</head>
<body>
    <header id="header" class="top-head" style="background-color: rgb(180, 253, 166); color: rgb(62, 114, 97);">
        <!-- Static navbar -->
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4 col-sm-12 left-rs">
                        <div class="navbar-header">
                            <button type="button" id="top-menu" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a href="index.html" class="navbar-brand"><img src="https://www.jaivikkheti.in/_nuxt/img/5056f7e.png" alt="" /></a>
                        </div>
                        <form class="navbar-form navbar-left web-sh">
                            <div class="form">
                                <h3 style="color: rgb(62, 114, 97);"> Farmple The E-Market Yard</h3>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
            <!--/.container-fluid -->
        </nav>
    </header>

    @*<h2>AddToCarterror</h2>
        <div style="float:right;">
            <p>
                <h2>your requested quantity is not available please check the available quantity on details page</h2>
            </p>
        </div>*@
    <br /> <br /><br />

                 <fieldset style=" background-color:red"><font color="white"><h3>@ViewBag.Message</h3></font></fieldset>
    <a href="/crops/detailsforCustomers/@ViewBag.cropID" class="btn btn-success btn-block">Back To Product Page<i class="fa fa-angle-right"></i></a>
</body>